body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2D356B, #8C3F86, #D2537C, #FD7F68, #FFBA5B, #F9F871); /* Plynulá změna barvy od červené po modrou a zpět na červenou */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: 1000%; /* Rychlost animace změny barvy (mnohem více bodů) */
    animation: gradient 15s linear infinite; /* Nastavení animace (prodloužená na 20 sekund) */
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}


.login-container {
    background-color: #fff; /* Světlejší pozadí */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    color: #ccc; /* Barva pro výchozí text */
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    margin-top: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}
